asm
backups
caches
cache
classOut
coremods
crash-reports
journeymap
logs
mods
!mods/.index
saves
screenshots
shaderpacks
TombManyGraves
vintagefix
crafttweaker.log
hei_bookmarks.ini
icon.png
OpenComputersMod-1.8.5-52-libjnlua52-linux-x86_64.so
OpenComputersMod-1.8.5-53-libjnlua53-linux-x86_64.so
OpenComputersMod-1.8.5-54-libjnlua54-linux-x86_64.so
options.txt
usercache.json
usernamecache.json