# Configuration file

~CONFIG_VERSION: 1.3.0

crafting {
    # ブロンズのクラフトレシピを有効にします。 [default: true]
    B:bronze=true

    stamps {
        # 特定の切手のクラフトレシピを無効にします。 [default: [20n, 50n, 100n]] [valid: [1n, 2n, 5n, 10n, 20n, 50n, 100n]]
        S:disabled <
            20n
            50n
            100n
         >

        # 切手のクラフトレシピを有効にします。 切手を通貨として使用することができなくなるでしょう。 [default: true]
        B:enabled=true
    }

}


debug {
    # デバッグモードを有効にします。 (開発者にのみ役立ちます) [default: false]
    B:enabled=false
}


difficulty {
    # お好みのゲームモードに設定してください。 サーバー側と一致しない場合は、レシピなどに視覚的な不具合が発生する可能性があります。 [default: EASY] [valid: [EASY, NORMAL, HARD, OP]]
    S:game.mode=EASY

    # config/forestry/gamemodesによる、ゲームモードの再作成を強制します。 [default: false]
    B:recreate.definitions=false
}


genetics {
    # 分析装置が稼働するごとに消費するエネルギー量を設定できます。 [range: 0 ~ 100000, default: 20320]
    I:analyzerblock.energy.use=20320

    # 蜂がバニラの木の葉に受粉を行うようになります。 無効にした場合、バニラの木に受粉を行う前には分析が必要になります。 [default: true]
    B:pollinate.vanilla.trees=true

    research {

        boost {
            # 執筆机で調査したことで適用できる、突然変異確率の最大上昇値です。 [range: 0.0 ~ 100.0, default: 5.0]
            S:max.percent=5.0

            # 執筆机で発見を行った場合に増加する、突然変異の確率が増加します。 [range: 1.0 ~ 1000.0, default: 1.5]
            S:multiplier=1.5
        }

    }

}


machines {
    # 有効な機械のリストです。 この内容を変更すると進行が不可能になることがあります！ [default: [still, fabricator, centrifuge, bottler, fermenter, rainmaker, carpenter, moistener, raintank, squeezer]] [valid: [still, fabricator, centrifuge, bottler, fermenter, rainmaker, carpenter, moistener, raintank, squeezer]]
    S:enabled <
        still
        fabricator
        centrifuge
        bottler
        fermenter
        rainmaker
        carpenter
        moistener
        raintank
        squeezer
     >
}


performance {
    # バックパック内からの補給を有効にします。 ビジー状態(利用者の多い)のサーバーでは、これをfalseにすることをお勧めします。 [default: true]
    B:backpacks.resupply=true

    # パーティクル効果を有効にします。 Forestryでは、Minecraftのビデオ設定におけるパーティクルの設定を尊重していることに注意してください。 [default: true]
    B:particleFX=true
}


power {

    types {
        # MJ動力への対応を有効にします。 [default: true]
        B:mj=true

        # レッドストーンフラックス動力への対応を有効にします。 [default: true]
        B:rf=true

        # Tesla動力への対応を有効にします。 [default: true]
        B:tesla=true
    }

    display {
        # エンジン/機械のインターフェースに、動力構成が表示されます。 [default: RF] [valid: [RF, FE, MJ, TESLA]]
        S:mode=RF
    }

}


structures {
    # 無効化させる特定の構造物を一覧に表示します。 [default: []] [valid: [alveary3x3, farm3x3, farm3x4, farm3x5, farm4x4, farm5x5]]
    S:disabled <
     >
}


tweaks {

    humus {
        # 腐葉土が砂に変わるまでの変化段階の数を設定します。 [range: 1 ~ 10, default: 3]
        I:degradeDelimiter=3
    }

    gui {

        mail {

            alert {
                # 郵便の新着を知らせる通知ボックスを有効にします。 [default: true]
                B:enabled=true

                # 画面上の郵便通知ボックスの水平位置です。 [default: LEFT] [valid: [LEFT, RIGHT]]
                S:xPosition=LEFT

                # 画面上の郵便通知ボックスの垂直位置です。 [default: TOP] [valid: [TOP, BOTTOM]]
                S:yPosition=TOP
            }

        }

        tabs {
            # エネルギーの消費に関するエネルギー統計タブを表示させます。 [default: true]
            B:energy=true

            # 機械やエンジンのヒントタブを有効にします。 [default: true]
            B:hints=true

            # GUIのサイドタブの開閉速度を設定します。 [range: 1 ~ 50, default: 8]
            I:speed=8
        }

    }

    farms {
        # Extra Utilitiesのエンダーリリィの種に対し、ファームが対応できるようにします。 [default: true]
        B:enderlily=true

        # マルチファームとカルチベイトファーム(ﾌｧｰﾑﾏｼﾝ)の乗数を設定します。 全てのファームは、常にこの2倍の量の化学肥料を消費します。 [range: 0.1 ~ 5.0, default: 1.0]
        S:fertilizer=1.0

        # Magical Cropsの作物に対し、ファームが対応できるようにします。 [default: true]
        B:magicalcrops=true

        # Extra Utilitiesのレッドオーチッドに対し、ファームが対応できるようにします。 [default: true]
        B:redorchid=true

        # ファームのサイズ値の乗数を設定します。 [range: 1 ~ 3, default: 2]
        I:size=2

        # ファームにおいて、ダイヤモンドの形状の代りに、正方形のレイアウトを使用するようにします。 [default: false]
        B:square=false
    }

    cultivation {
        # 全てのファームマシン(Cultivation Farm)における、農地の大きさを設定します。 [range: 1 ~ 15, default: 4]
        I:extend=4

        # ファームマシンが、旧来のリング状のレイアウトを使用するようにします。 リング状レイアウトでは、農地の広さが1ブロック狭くなります。 [default: true]
        B:ring=true

        # リング状レイアウトの内輪部分のサイズを設定します。 [range: 1 ~ 8, default: 4]
        I:ring_size=4
    }

    capsule {
        # カンやカプセルを使って、ワールド上の液体を回収する機能を有効にします。 [default: false]
        B:capsulePickup=false

        # カプセルが空になった後に消滅しなくなります。 [default: false]
        B:capsuleReuseable=false
    }

    habitatformer {
        # for.config.tweaks.habitatformer.range.comment [range: 1 ~ 100, default: 10]
        I:range=10

        area {
            # for.config.tweaks.habitatformer.area.resources.comment [range: 0.0 ~ 5.0, default: 0.5]
            S:resources=0.5

            # for.config.tweaks.habitatformer.area.speed.comment [range: 0.0 ~ 5.0, default: 0.5]
            S:speed=0.5
        }

    }

    charcoal {
        # 壁ブロックが登録されたパイルウォールブロックでない場合に、薪木ブロックがドロップする基本値です。 [range: 0 ~ 63, default: 8]
        I:amount.base=8

        # 薪木が有効な木炭壁ブロックであるかどうかをチェックするブロック量を設定。 [range: 1 ~ 32, default: 16]
        I:check.range=16
    }

    book {
        # 始めてワールドに入ったプレイヤーは、Foresterのマニュアルを入手します。 [default: true]
        B:spawn=true
    }

}


world {

    generate {
        # Forestryによる村人と、その家を生成します。 [default: true]
        B:villagers=true

        retrogen {
            # たとえ以前から生成されていたとしても、全てのチャンクでForestryのワールド生成を実行します。 [default: false]
            B:forced=false

            # MODが追加される前に生成されたチャンクで、Forestryのワールド生成を行います。 [default: false]
            B:normal=false
        }

        beehives {
            # ワールド内にどのくらい蜂の巣が生成されるかを設定します。 [range: 0.0 ~ 10.0, default: 1.0]
            S:amount=1.0

            # Forestryは、可能な場所全てで蜂の巣の生成を行います。 (これはあなたのワールドを破損させるでしょう。 開発者だけに役立ちます) [default: false]
            B:debug=false
            I:dimBlacklist <
             >
            I:dimWhitelist <
             >

            ##########################################################################################################
            # blacklist
            #--------------------------------------------------------------------------------------------------------#
            # 特定のバイオーム、または特定のバイオームタイプに属するバイオームにおいて、特定の蜂の巣の生成を無効にします。 巣のプロパティにバイオームのレジストリ名、またはバイオームタイプの名前を追加するだけです。
            # 全てのバイオームタイプ/レジストリ名は、別々の行に入力してください。 全ての蜂の巣生成のバイオームのブラックリストにおいて、グローバルタイプ(global type)を使用できます。
            ##########################################################################################################

            blacklist {
                S:desert <
                 >
                S:end <
                 >
                S:forest <
                 >
                S:global <
                 >
                S:jungle <
                 >
                S:meadows <
                 >
                S:snow <
                 >
                S:swamp <
                 >
                S:swarm <
                 >
            }

        }

        ore {
            # ワールドにアパタイト鉱石ブロックを生成します。 [default: true]
            B:apatite=true

            # ワールドに銅鉱石ブロックを生成します。 [default: true]
            B:copper=true
            I:dimBlacklist <
             >
            I:dimWhitelist <
             >

            # ワールドに錫鉱石ブロックを生成します。 [default: true]
            B:tin=true
        }

    }

}


