# Configuration file

~CONFIG_VERSION: 1.1.0

butterfly {

    entities {
        # 蝶が離れすぎている場合、彼らはホームに対し飛行します。 [range: 0 ~ 256, default: 64]
        I:maxDistance=64

        # この制限値に達していると、新しい蝶はアイテムの形式とどまり、飛行を開始しません。 [range: 0 ~ 5000, default: 1000]
        I:maximum=1000

        # 蝶が木の葉に受粉を行います。 [default: true]
        B:pollination=true

        # 蝶が木の葉からスポーンするかどうかの設定です。 [default: true]
        B:spawn.leaves=true

        # この制限値に達すると、蝶の自然なスポーンは停止されます。 [range: 0 ~ 500, default: 100]
        I:spawn.limit=100
    }

    cocoons {
        # 蝶が含まれたサナギがワールドに生成されるかどうかの設定です。 [default: false]
        B:generate=false

        # for.config.butterfly.cocoons.generate.amount.comment [range: 0.0 ~ 10.0, default: 1.0]
        S:generate.amount=1.0

        # サナギが2つ目の血清をドロップする頻度の設定です。 [range: 0.0 ~ 100.0, default: 0.0]
        S:second.serum=0.0

        # サナギが血清をドロップする頻度の設定です。 [range: 0.0 ~ 100.0, default: 0.55]
        S:serum=0.55

        alleles {

            loot {
                # サナギからドロップするアイテムの設定です。 書式は以下の通りです。 modid:name:meta;chance
                S:forestry.cocoonDefault <
                    minecraft:string:0;0.25
                    minecraft:string:0;0.75
                    minecraft:string:0;1.0
                 >

                # サナギからドロップするアイテムの設定です。 書式は以下の通りです。 modid:name:meta;chance
                S:forestry.cocoonSilk <
                    forestry:crafting_material:2;0.25
                    forestry:crafting_material:2;0.75
                 >
            }

        }

    }

    alleles {
        # 1行に1つずつのそれぞれのUIDから、蝶のスポーンレアリティを取得します。
        S:rarity <
            forestry.lepiAurora:0.5
            forestry.lepiBatesia:0.3
            forestry.lepiBlackSwallow:1.0
            forestry.lepiBlueDuke:0.5
            forestry.lepiBlueWing:0.3
            forestry.lepiBrimstone:1.0
            forestry.lepiCSpeckledWood:0.5
            forestry.lepiCabbageWhite:1.0
            forestry.lepiCitrusSwallow:1.0
            forestry.lepiComma:0.3
            forestry.lepiDianaFrit:0.6
            forestry.lepiEmeraldPeacock:0.1
            forestry.lepiGlasswing:0.1
            forestry.lepiGlassyTiger:0.3
            forestry.lepiGozoraAzure:0.2
            forestry.lepiLLacewing:0.7
            forestry.lepiMBlueMorpho:0.5
            forestry.lepiMSpeckledWood:0.5
            forestry.lepiMalachite:0.5
            forestry.lepiMonarch:0.2
            forestry.lepiPBlueMorpho:0.25
            forestry.lepiPalaenoSulphur:0.4
            forestry.lepiPostillion:0.5
            forestry.lepiPostman:0.3
            forestry.lepiRBlueMorpho:0.1
            forestry.lepiReseda:0.3
            forestry.lepiSpeckledWood:1.0
            forestry.lepiSpicebush:0.5
            forestry.lepiSpringAzure:0.3
            forestry.lepiThoasSwallow:0.2
            forestry.lepiZebraSwallow:0.5
            forestry.mothAtlas:0.1
            forestry.mothBombyxMori:0.0
            forestry.mothBrimstone:1.0
            forestry.mothLatticedHeath:0.5
         >
    }

}


