# Configuration file

general {
    # Set in the vanilla resistance of Obsidian, Water, Lava
    B:isResistanceVanilla=true

    # Using a capacitor instead of a transformer recipe CE-Solar
    B:isSolarCostUp=true
}


